body {display:flex;
     flex-direction: column;
     align-items: center;
    font-family: "Gamja Flower", sans-serif;
      background-color: lightblue;
     }
button {background-color: #fbffc2;
        color: black;
        font-family: "Gamja Flower", sans-serif;
        border: none;
        font-size: 50px;
        padding: 15px;
        margin: 10px;
       }
