@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
.btn {
 font-size: 50px;
  font-family: "Gamja Flower", sans-serif;
  
}

body {
  color: whitesmoke;
  background-image:url(rileysmind.webp);
  background-size:cover;
  font-family: "Gamja Flower", sans-serif;
}

#keyboard {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}